


h1{
    font-size: 20px;
    background-color:  lightyellow;
    color:skyblue;
    position:relative;
    margin-left:200px;
}


html{
    
    background-image: url(log.jpg);
}

.register{
    
 
 position:static;
 width:600px;
 height:500px;

background-color:lightblue;
 border-style:solid;
 border-color:black;
 border-width:5px;
   margin-left:400px;
   margin-right:400px;
   
   
}



#password{
  
  
  
    width:300px;
    height:40px;
    margin-top:30px;
       margin-left:30px;
  
   
}
#password:focus{
    text-align: center
}

#name{
     
   width:300px;
    height:40px;
    margin-top:30px;
   margin-left:30px;
  
}


#name:focus{
    text-align: center;
    text-decoration:lightblue;
}


#confirmpassword:focus{
    text-align: center
}

#confirmpassword{

     width:300px;
    height:40px;
    margin-top:30px;
    margin-left:30px;
  
}


#email:focus{
    text-align: center
}
#email{

     width:300px;
    height:40px;
    margin-top:30px;
    margin-left:30px;
   
  
}

#mobile:focus{
    text-align: center;
    
}

#mobile{

     width:300px;
    height:40px;
    margin-top:30px;
    margin-left:30px;
    

}



.regSubmit
{
     position:relative;

    font-size:20px;
    color:black;
    width:100px;
    height:50px;
    
    margin-top:30px;
    margin-left:153px;
    
}

.regSubmit:hover{
    
    background:lightgrey;
}

.regClose
{
    font-size:20px;
    
    color:black;
    width:100px;
    height:50px;
    padding:7px;
    margin-top:15px;
    margin-left:50px;
    }
    
    
    .regClose:hover{
        
        background:lightgrey;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


    
    
    
 /* 
  
  label{
      
      visibility:hidden;
      font-size:20px;
      color:red;
      background-color:black;
      overflow:hidden;
      
      border-radius:16px;
      
      
  }
  
  
*/



label{

        font-size: larger;
        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
        
        border:3px  solid #fff;
        border-color:black; 
        color:red; 
        position:relative;				
       padding:5px;						
        top:0px;
        left:10px;
        border-radius:5px;
        visibility:hidden;
     
    }

    label:before {
        position:absolute;					
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
    label:after{
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
    }

    label:before {
        border-right-color:black;			                    
       										
    }  

    label:after {
        
        border-right-color:black;		
        								
    } 						
