
h1{
    
    position:relative;
    margin-left:200px;
}

.register{
    
 
 position:static;
 width:700px;
 height:570px;

background-color:lightblue;
 border-style:solid;
 border-color:black;
 border-width:5px;
   margin-left:400px;
   margin-right:600px;
   
   
}



#password{
  
  
  
    width:250px;
    height:30px;
    margin-top:60px;
       margin-left:190px;
  
   
}
#name{
     
    width:250px;
    height:30px;
    margin-top:60px;
   margin-left:190px;
  
}





#confirmpassword{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:190px;
  
}

#email{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:190px;
   
  
}

#mobile{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:190px;
    
  
    
}


.regSubmit
{
     position:relative;

    font-size:20px;
    color:black;
    width:100px;
    height:50px;
    
    margin-top:30px;
    margin-left:183px;
    
}

.regSubmit:hover{
    
    background:lightgrey;
}

.regClose
{
    font-size:20px;
    
    color:black;
    width:100px;
    height:50px;
    padding:7px;
    margin-top:15px;
    margin-left:50px;
    }
    
    
    .regClose:hover{
        
        background:lightgrey;
    }
    
  
  
  label{
      
      visibility:hidden;
      font-size:20px;
      color:red;
      background-color:black;
      overflow:hidden;
      
      border-radius:16px;
      
      
  }
  
  label:after{
      right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
  }
  
  
   
