
h1{
    
    position:relative;
    margin-left:200px;
}

.register{
    
 
 position:static;
 width:600px;
 height:600px;

background-color:lightblue;
 border-style:solid;
 border-color:black;
 border-width:5px;
   margin-left:400px;
   margin-right:600px;
   
   
}



#password{

    width:250px;
    height:30px;
    margin-top:60px;
       margin-left:150px;
  
   
}
#name{

    width:250px;
    height:30px;
    margin-top:60px;
   margin-left:150px;
  
}





#confirmpassword{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:150px;
  
}

#email{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:150px;
   
  
}

#mobile{

    width:250px;
    height:30px;
    margin-top:60px;
    margin-left:150px;
    
  
    
}


.regSubmit
{
     position:relative;

    font-size:20px;
    color:black;
    width:100px;
    height:50px;
    
    margin-top:30px;
    margin-left:150px;
    
}

.regSubmit:hover{
    
    background:lightgrey;
}

.regClose
{
    font-size:20px;
    
    color:black;
    width:100px;
    height:50px;
    padding:7px;
    margin-top:15px;
    margin-left:50px;
    }
    
    
    .regClose:hover{
        
        background:lightgrey;
    }
    
  
    
