html{
    
    
    margin:auto;
    width:auto;
    height:auto;
}

html{
    
    background:url(data.jpg);
}




.databasetxt{

    
    position:relative;
     width:400px;
     height:400px;
    
    background:lightblue;
    border:auto;
    border-width:5px;
    border-color:black;
    border-style:solid;
   margin-left:35%;
    margin-right:35%;

}



#m_useroldpassword{

display:block;
 width:300px;
    height:35px;
    margin-top:80px;
   margin-left:0px; 
     

}

#m_useroldpassword:hover{
    
    text-align:center;
}


#m_userpassword{

display:block;
 width:300px;
    height:35px;
    margin-top:0px;
   margin-left:0px; 
     

}
#m_userpassword:hover{
    
    text-align:center;
}


#m_userconfirmpassword{
    
display:block;
 width:300px;
    height:35px;
    margin-top:0px;
   margin-left:0px;

}
#m_userconfirmpassword:hover{
    
text-align:center;

}





.btndone{
    
    display:block;
    width:100px;
    height:50px;
    margin-top:55px;
    margin-left:-160px;
    
}

.btncancle{
    
    width:100px;
    height:50px;
    margin-top:-48px;
    margin-left:100px;
    display:block;
}








.subframe{
   
    color:red;
    display:block;
    
    margin-top:40px;
   margin-right:80px;
    margin-left:450px;
    
     
    width:500px;
    height:100px;
    background:lightblue;
    border-width:6px;
    border-color:red;
    
}




#labeloldpassword{

        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
        
        border:3px  solid #fff;
        border-color:black; 
        color:red; 
        position:relative;				
       padding:5px;						
        top:-30px;
        left:225px;
        border-radius:5px;
      visibility:hidden;
    }




   #labeloldpassword:before {
        position:absolute;					
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
   #labeloldpassword:after{
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 	
       
    }

    #labeloldpassword:before {
        border-right-color:black;			                    
       										
    }  

    #labeloldpassword:after {
        
        border-right-color:black;		
        								
    } 						


#labeloldpassword:focus{

        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
        
        border:3px  solid #fff;
        border-color:black; 
        color:red; 
        position:relative;				
       padding:5px;						
        top:-30px;
        left:225px;
        border-radius:5px;
      visibility:hidden;
    }




   #labeloldpassword:before:focus {
        position:absolute;					
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
   #labeloldpassword:after:focus{
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 	
       
    }

    #labeloldpassword:before:focus {
        border-right-color:black;			                    
       										
    }  

    #labeloldpassword:after:focus {
        
        border-right-color:black;		
        								
    } 						





#labelpassword{

        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
        
        border:3px solid #fff;
        border-color:black; 
        color:red; 
        position:relative;				
       padding:5px;						
        top:-30px;
        left:225px;
        border-radius:5px;
        visibility:hidden;     
     
    }




    #labelpassword:before {
        position:absolute;					
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
    #labelpassword:after{
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
    }

    #labelpassword:before {
        border-right-color:black;			                    
       										
    }  

    #labelpassword:after {
        
        border-right-color:black;		
        								
    } 						



#labelconfirmpassword{

        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
        
        border:3px solid #fff;
        border-color:black; 
        color:red; 
        position:relative;				
        padding:5px;						
        top:-25px;
        left:225px;
        border-radius:5px;
        visibility:hidden;
        
        
     
    }




    #labelconfirmpassword:before {
        position:absolute;					
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
    #labelconfirmpassword:after{
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
    }

    #labelconfirmpassword:before {
        border-right-color:black;			                    
       										
    }  

    #labelconfirmpassword:after {
        
        border-right-color:black;		
        								
    } 						



.input {
    position: relative;
   
}

.tooltip {
    display: none;
    padding: 20px;


}

.input:focus {
    visibility: hidden;
 
}

.input:hover .tooltip {
    
    background:white;
    border-radius:15px;
    bottom:-15px;
    color: black;
    display: inline;
    height:20px;
    width:200px;
   border-style: solid;
       border-width:2px;
        border-Color:black;   
        left:-200px;
    position: absolute;
}

.input:hover .tooltip:before {
    
    display:inline;
    content:"";
    position: absolute;
    top:5px;
    left:240px;
    width:0px; 
	height:0px; 
	
    border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid  black;
}

