


html{
    
    background: url(image1.jpg) ;
}



.new{
    
   position:relative;
   width:500px;
   height:500px;
   background-color:lightblue;
   border:50px 50px 50px 50px;
   border-style:solid;
   border-width:5px;
   margin-right:250px;
   margin-left:250px;
   
}


    


.button{
    font-family:sans-serif;
    color:black;
  
    font-size:20px;
    display:block;
    cursor: pointer;
     padding: 6px 6px;
    width:230px;
    height:50px;
    border-radius:56px;
    margin-top:60px;
    margin-left:150px;
    
    
}


.button:hover{
    
     background-color:lightblue;
}

.data-toggle{
    
    color:black;
}


title{
    
    color:black;
    
}