
html{
    
    
    margin:auto;
    width:auto;
    height:auto;
}

html{
    
    background:url(data.jpg);
}




#mybackground{

    
    position:relative;
     width:400px;
     height:300px;
    
    background:lightblue;

    border-width:5px;
    border-color:black;
    border-style:solid;
   margin-left:35%;
    margin-right:50%;

}



#masterpassword{

width:300px;
    height:40px;
    margin-top:90px;
    margin-left:50px;
   
}




#btndone{
    
   font-size:20px;
    display:block;
    color:black;
    width:100px;
    height:50px;
    padding:7px;
    margin-top:65px;
    margin-left:70px;
}

#btncancle{
    
    display:block;
    font-size:20px;
    
    color:black;
    width:100px;
    height:50px;
    padding:7px;
    margin-top:-49px;
    margin-left:200px;
}






#labelmasterpassword{
    
      position:relative;	
    
        height:200px;
        width:200px;
        background-color:white;
        border-top:10px;
      
        border:2px solid #fff;
        border-color:black; 
        color:red; 
        				
        padding: 20px;		
        top:-15px;
        left:340px;
        border-radius:6px;
        visibility:hidden;
    }




   #labelmasterpassword:before {
        
        
        position:absolute;			
        left:-19px; 					
        									
        top:5px;
        content:'';						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 							
}
   #labelmasterpassword:after{
        
        
        position:absolute; 					
        left:-19px; 						    									
      	top:5px;
        content:''; 						
        height:0;
        width:0;
        border:8px solid transparent;
        z-index:1; 	
       
    }

    #labelmasterpassword:before {
        border-right-color:black;			                    
       										
    }  

    #labelmasterpassword:after {
        
        border-right-color:black;		
        								
    } 						



				



.input {
    position: relative;
   
}

.tooltip {
    display: none;
    padding: 20px;


}



.input:hover :blur{
    
    visibility:hidden;
}


.input:hover .tooltip {
    
    background:white;
    border-radius:15px;
    bottom:-15px;
    color: black;
    display: inline;
    height:20px;
    width:200px;
   border-style: solid;
      border-width:2px;
    border-Color:black;   
        
        left:-210px;
    position: absolute;
}

.input:hover .tooltip:before {
    
    display:inline;
    content:"";
    position: absolute;
    top:5px;
    left:240px;
    width:0px; 
	height:0px; 
	
    border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid  black;
}
